.jtoolbar .jpicker-item {
    font-size: 14px;
}

.jtoolbar-item {
    background-color: white;
}

.jtoolbar-active, .jtoolbar-active .jtoolbar-item {
    background-color:#e1e9f9;
}

.jtoolbar-container {
    border-radius: 0;
    margin-bottom: 0;
    border: 1px solid #ccc;
    background-color: #e8ecf0;
    margin-left: 1px;
    margin-bottom: -1px;
    padding: 0;
    margin-right: -3em;
    box-shadow: none;
}

.jtoolbar .jpicker {
    background-color: white;
}

.jpicker-header  {
    font-size: 1.1em !important;
}

.jpicker-header,
.jpicker-content {
    background-image: none;
    border-radius: 0;
}
